DATABASE_URL="postgresql://username:password@localhost:5432/sendincraft"
NEXT_PUBLIC_POSTHOG_KEY=your_posthog_key
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
RESEND_API_KEY=your_Resend_API_key
GIT_TOKEN=your_github_PAT